* {
  padding: 0;
  margin: 0;
}
:root {
  --yt-hover: #d9d9d9;
  --yt-background: #ecf1fb;
  --yt-background2: #f2f2f2;
  --yt-colortext: #909090;
  --yt-border: #e6e6e6;
}
.center {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
/** header **/
header {
  padding: 15px 30px;
}
.buttons {
  align-items: center;
  column-gap: 20px;
}
.profileİmge {
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50%;
}
.addingİcon {
  background-color: var(--yt-background2);
  padding: 10px 16px;

  font-size: 19px;
  display: flex;
  align-items: center;
  border-radius: 18px;
}
.navSection {
  width: 30%;
  /*display: flex;
  justify-content: space-between;*/
}
nav {
  width: 95%;
  border: 1px solid var(--yt-border);
  border-radius: 50px;
  align-items: center;
  padding: 0 10px;
}
i {
  font-size: 18px;
}
.bell {
  font-size: 25px;
}
.keyboard {
  color: var(--yt-colortext);
  margin-left: 10px;
}
.logo {
  align-items: center;
  gap: 15px;
  margin: 5px;
}
.mic {
  background-color: var(--yt-background2);
  border-radius: 50%;
  padding: 14px;
  margin: 0 10px;
}
/**   **/
